<a href="https://colab.research.google.com/github/MartinGalay/PLNG211-QC/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
animals = ['cat', 'dog', 'fish']
x = animals[0]	
print("The list of animals in an array are", animals)
print("The animal in animals [0] is:" ,x)

The list of animals in an array are ['cat', 'dog', 'fish']
The animal in animals [0] is: cat

In [3]:
animals = ['cat', 'dog', 'fish']
animals[1] = 'monkey'
print(animals)

['cat', 'monkey', 'fish']

In [4]:
animals = ['cat', 'dog', 'fish']
x = len(animals)
print(x)

3

In [5]:
verbs = ['jumping', 'eating', 'swimming']
animals = ['cat', 'dog', 'fish']
for k in verbs:
 for j in animals:
   print(k,j)

jumping cat
jumping dog
jumping fish
eating cat
eating dog
eating fish
swimming cat
swimming dog
swimming fish

In [6]:
animals = ['cat','dog', 'fish']
animals.append("monkey")
print(animals)

['cat', 'dog', 'fish', 'monkey']

In [7]:
animals = ['cat', 'dog', 'fish']
animals.insert(0,'bird')
print(animals)

['bird', 'cat', 'dog', 'fish']

In [8]:
animals.pop(1)
print(animals)

['bird', 'dog', 'fish']

In [9]:
from array import *
numbers = array('i', [1,2,3,4,5])
numbers.typecode

'i'

In [10]:
numbers = array('i', [1,2,3,4,5,8,8,9,2,5,3])
numbers.count(3)
numbers.reverse()
print(numbers)

array('i', [3, 5, 2, 9, 8, 8, 5, 4, 3, 2, 1])